<!doctype html>
<html lang="en">
  {{template "head" .}}
  <body>
   {{template "header" .}}
     <div class="splash-container">
      <div class="splash">
        <p class="splash-subhead caps">Congratulations: You triggered an error</p>
        <h1 class="splash-head">{{.Message}}</h1>
        <p>
          <a id="to-submit" class="pure-button pure-button-primary caps">Try a new link?</a>
        </p>
      </div>
    </div>
    <div class="content-wrapper">
      {{template "submit" .}}
      {{template "webscale" .}}
      {{template "testimonials" .}}
      {{template "more" .}}
      {{template "footer" .}}
    </div>
  {{template "scripts" .}}
  </body>
</html>