<!doctype html>
<html lang="en">
  {{template "head" .}}
  <body>
   {{template "header" .}}
     <div class="splash-container">
      <div class="splash">
        <p class="splash-subhead caps">The most useless url shortener</p>
        <h1 class="splash-head caps">in the world</h1>
        <p>
          <a href="#submit" class="pure-button pure-button-primary caps">Get Started</a>
        </p>
      </div>
    </div>
    <div class="content-wrapper">
      {{template "submit" .}}
      {{template "webscale" .}}
      {{template "testimonials" .}}
      {{template "more" .}}
      {{template "footer" .}}
    </div>
  </body>
</html>