<div class="content" id="more">
  <h2 class="content-head is-center">More</h2>
  <div class="pure-g">
    <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
      <h4>Contact Us</h4>
      <p>
        Email <a href="mailto:daniel@the-beach.co">daniel@the-beach.co</a>
      </p>
      <h4>More Information</h4>
      <p>
        <a href="https://github.com/blasphemy/urls">Source</a>
      </p>
      <p>
        <a href="http://www.mongodb-is-web-scale.com">MongoDB</a>
      </p>
      {{ if .Stats }}
      <h4>Stats</h4>
      <p>
        Over {{ .Stats.Links }} urls shortened
        <br />
        Over {{ .Stats.Clicks }} clicks
      </p>
      {{end}}
    </div>
  </div>
</div>