<div class="content" id="submit">
  <h2 class="content-subhead is-center">
    <i class="fa fa-rocket"></i>
    #WEBSCALE YOUR URL NOW
  </h2>
  <div class="pure-g">
    <form class="pure-form pure-u-1 pure-md-1-2 is-center" action="/add" method="get">
      <fieldset>
        <input name="url" class="pure-input-1" type="text"><br />
      </fieldset>
      <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </form>
  </div>
</div>
