<div class= "content" id="testimonials">
  <h2 class="content-head is-center">Testimonials</h2>
  <div class="pure-g">
    <div class="1-box-lrg pure-u-1 pure-u-md-1-4">
      "Redis will kick memcache's ass. It's so fast and scalable."
    </div>
    <div class="1-box-lrg pure-u-1 pure-u-md-1-4">
      "MongoDB is a document database that doesn't need JOINs. It uses map/reduce."
    </div>
    <div class="1-box-lrg pure-u-1 pure-u-md-1-4">
      "If /dev/null is fast in web scale I will use it. Is it web scale?"
      <br />
      "Does /dev/null support sharding?"
    </div>
    <div class="1-box-lrg pure-u-1 pure-u-md-1-4">
      "MongoDB is a web scale database, and doesn't use SQL or JOINs, so it's high-performance."
    </div>
    <div class="1-box-lrg pure-u-1 pure-u-md-1-4">
      "MongoDB stores files of any size without complicating your stack."
    </div>
  </div>
</div>