<!doctype html>
<html lang="en">
{{template "head" .}}
<body>
  {{template "header" .}}
  <div class="splash-container">
    <div class="splash">
      <p class="splash-subhead caps">Your link is:</p>
      <div class="pure-u-1 pure-md-1-4">
        <form class="pure-form">
          <input class="is-center" type="text" value="{{.Short}}" onClick="this.setSelectionRange(0, this.value.length)" readonly>
        </form>
      </div>
      <p class="splash-subhead caps">And it goes to:</p>
      <div class="pure-u-1 pure-md-1-4">
        <form class="pure-form">
          <input class="is-center" type="text" value="{{.Link}}" onClick="this.setSelectionRange(0, this.value.length)" readonly>
        </form>
      </div>
      <p class="splash-subhead caps">This link has been viewed or clicked {{.Clicks}} time(s).</p>
      <p>
        <a id="to-submit" class="pure-button pure-button-primary caps">Do Another</a>
      </p>
    </div>
  </div>
  <div class="content-wrapper">
    {{template "submit" .}}
    {{template "webscale" .}}
    {{template "testimonials" .}}
    {{template "more" .}}
    {{template "footer" .}}
  </div>
{{template "scripts" .}}
</body>
</html>